# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs/
*.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build artifacts
dist/
out/
.next/
.vercel/
.netlify/

# Editor files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Coverage reports
coverage/
.nyc_output/

# Database & Uploads
*.sqlite
*.sqlite-journal
uploads/
dump.sql

# Miscellaneous
*.bak
*.tmp
